*
{
	box-sizing: border-box;

	font-family: sans-serif;
}

html, body
{
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

/*
*
*	NavBar
*
*/

#navbar
{
	padding: 1em;

	position: sticky;
	top: 0;

	width: 100%;
	height: 5em;

	border-bottom: 1px solid black;

	background-color: lightgray;
}

#logo
{
	width: auto;
	height: 3em;
}
