<!DOCTYPE html>
<html>
	<head>
		<title>Boat Master 4000</title>

		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/boat_bg.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/base.css') }}">

		{% block head %}
		{% endblock %}
	</head>

	<body>
		<div id="navbar" class="boat_scroll">
			<img id="logo" src="{{ url_for('static', filename = 'img/boat.webp') }}">

			<div class="float_right">
				<ul class="sidelist">
					<a href="/home" target="_parent"><li>Home</li></a>
					<a href="/boats" target="_parent"><li>View Boats</li></a>
					<a href="/manage" target="_parent"><li>Manage Boats</li></a>
				</ul>
			</div>
		</div>

		<div id="body_block">
			{% block body %}
			{% endblock %}
		</div>

		<footer id="footer" class="boat_scroll">
			&copy; Boats!

			<div class="float_right">
				<p>The boats own you and all</p>
			</div>
		</footer>
	</body>
</html>
