<!DOCTYPE html>
<html>
	<head>
		<title>Boat Master 4000</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
	</head>

	<body>
		<div id="navbar">
			<img id="logo" src="{{ url_for('static', filename = 'img/boat.webp') }}">

			<div class="float_right">
				<ul class="sidelist">
					<li>Home</li>
					<li>View Boats</li>
					<li>Manage Boats</li>
				</ul>
			</div>
		</div>

		<div id="main_body">
			{% block body %}
			{% endblock %}
		</div>

		<div id="footer">
			&copy; Boats!

			<div class="float_right">
				<p>The boats own you and all</p>
			</div>
		</div>
	</body>
</html>
