{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/view.css') }}">
{% endblock %}

{% block body %}
<div id="boat_image">
	<img src="{{ url_for('static', filename = 'img/boat.webp') }}">
</div>

<div id="boat_properties">
	<div class="boat_property">
		<p>Boat ID</p>
		<p class="float_right">{{ boat["id"] }}</p>
	</div>

	<div class="boat_property">
		<p>Boat Type</p>
		<p class="float_right">{{ boat["type"] }}</p>
	</div>

	<div class="boat_property">
		<p>Owner Name</p>
		<p class="float_right">{{ boat["name"] }}</p>
	</div>

	<div class="boat_property">
		<p>Owner ID</p>
		<p class="float_right">{{ boat["owner_id"] }}</p>
	</div>

	<div class="boat_property">
		<p>Boat Rental Price</p>
		<p class="float_right">{{ "${:,.2f}".format(boat["rental_price"]) }}</p>
	</div>
</div>
{% endblock %}
