:root
{
	--navbar-height: 5em;
	--footer-height: 5em;

	--left-padding: 5em;
	--right-padding: 5em;
}

/*
*
*	Globals and classes
*
*/

*
{
	box-sizing: border-box;

	font-family: sans-serif;
}

html, body
{
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

.float_right
{
	float: right;

	margin-left: auto;
}

.float_right::after
{
	content: "";

	clear: both;

	display: table;
}

.sidelist
{
	list-style-type: none;

	display: flex;
	align-items: center;

	gap: 1em;

	margin: 0;
	padding: 0;
}

.sidelist li
{
	display: inline;
}

.boat_scroll
{
	animation-name: boat_scroll;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	background: linear-gradient(0deg, rgba(211, 211, 211, 0.95), rgba(211, 211, 211, 0.95)), url("../img/boat.webp");
	background-size: 1.5em 1.5em;
	background-repeat: repeat;
}

/*
*
*	NavBar
*
*/

#navbar
{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: var(--left-padding);
	padding-right: var(--right-padding);

	position: sticky;
	top: 0;

	width: 100%;
	height: var(--navbar-height);

	border-bottom: 1px solid black;

	display: flex;
	align-items: center;
}

#logo
{
	width: auto;
	height: 3em;
}

/*
*
*	Body
*
*/

#body_block
{
	padding-left: var(--left-padding);
	padding-right: var(--right-padding);
	padding-top: 1em;
	padding-bottom: 1em;

	width: 100%;
	height: calc(100% - (var(--navbar-height) + var(--footer-height)));
}

/*
*
*	Footer
*
*/

#footer
{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: var(--left-padding);
	padding-right: var(--right-padding);

	position: sticky;
	top: calc(100% - 5em);

	width: 100%;
	height: var(--footer-height);

	border-top: 1px solid black;

	display: flex;
	align-items: center;
}
