:root
{
	--navbar-height: 5em;
	--footer-height: 5em;

	--left-padding: 5em;
	--right-padding: 5em;
}

/*
*
*	Globals and classes
*
*/

*
{
	box-sizing: border-box;

	font-family: sans-serif;
}

html, body
{
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

.float_right
{
	float: right;

	margin-left: auto;
}

.float_right::after
{
	content: "";

	clear: both;

	display: table;
}

.sidelist
{
	list-style-type: none;

	display: flex;
	align-items: center;

	gap: 1em;

	margin: 0;
	padding: 0;
}

.sidelist li
{
	display: inline;
}

/*
*
*	NavBar
*
*/

#navbar
{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: var(--left-padding);
	padding-right: var(--right-padding);

	position: sticky;
	top: 0;

	width: 100%;
	height: var(--navbar-height);

	border-bottom: 1px solid black;

	background-color: lightgray;

	display: flex;
	align-items: center;
}

#logo
{
	width: auto;
	height: 3em;
}

/*
*
*	Body
*
*/

#body_block
{
	padding-left: var(--left-padding);
	padding-right: var(--right-padding);

	width: 100%;
	height: calc(100% - (var(--navbar-height) + var(--footer-height)));
}

/*
*
*	Footer
*
*/

#footer
{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: var(--left-padding);
	padding-right: var(--right-padding);

	position: sticky;
	top: calc(100% - 5em);

	width: 100%;
	height: var(--footer-height);

	border-top: 1px solid black;

	background-color: lightgray;

	display: flex;
	align-items: center;
}
