#boat_holder
{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1em;
}

#boat_display
{
	width: 100%;

	padding-left: 1em;
	padding-right: 1em;

	background-color: lightgray;

	border-radius: 1em;
	border: 1px solid black;
}
