a
{
	all: unset;
}

#page_selector
{
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 1em;
}

#boat_holder
{
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: 1em;
}

#boat_display
{
	width: 100%;

	padding-left: 1em;
	padding-right: 1em;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 1em;
	border: 1px solid black;

	cursor: pointer;

	background: linear-gradient(0deg, var(--transparent-gray), var(--transparent-gray)), var(--boat);
	background-position: center;
	background-repeat: no-repeat;
}

#boat_display:hover
{
	background: linear-gradient(0deg, var(--transparent-dark-gray), var(--transparent-dark-gray)), var(--boat);
	background-position: center;
	background-repeat: no-repeat;
}

#boat_display *
{
	pointer-events: none;
}

#boat_display img
{
	width: auto;
	height: 2em;
}
