#page_controls
{
	display: flex;
	flex-direction: column;

	gap: 1em;
}

#page_controls > *
{
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	gap: 1em;
}

#boat_holder
{
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: 1em;
}

#boat_holder a
{
	all: unset;
}
